@import url("https://fonts.googleapis.com/css?family=Gupter&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Gupter", sans-serif;
  font-size: 1rem;
  text-align: center;
  color: rgb(50, 50, 50);
  text-decoration: none;
}

/* Header Stiling */
.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  top: 0rem;
  width: 100%;
  height: 10vh;
  background-color: rgba(255, 255, 255);
  border-bottom: 1px solid rgb(70, 70, 70, 0.5);
  box-shadow: 0rem 0rem 0.5rem rgb(70, 70, 70, 0.5);
  z-index: 1;
}
.logo {
  max-width: 10rem;
  cursor: pointer;
}
.nav_links li {
  display: inline-block;
  padding: 0 0.2rem;
}
.nav_links li h3 {
  font-size: 1.4rem;
}
.nav_links li:hover h3 {
  transition: all 0.3s ease 0s;
  border-top: 0.01rem solid rgb(70, 70, 70);
  border-bottom: 0.01rem solid rgb(70, 70, 70);
  padding: 0.3rem 0rem;
  transform:scale(1.05);
}

/* Slider Stiling */
.slider {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55vh;
  margin: 10rem 0rem 2.5rem;
  background-color: rgb(88, 63, 44);
  box-shadow: 0rem 0.5rem 1rem rgb(70, 70, 70, 0.5);
}
.imageSlider {
  height: 50vh;
  width: 62rem;
  max-width: 62rem;
  margin: 1rem;
}
.arrow, .playButton {
  cursor: pointer;
  background: transparent;
  border: 3rem solid transparent;
}
.left {
  border-right-color: rgb(255, 255, 255, 0.5);
}
.right {
  border-left-color: rgb(255, 255, 255, 0.5);
}
.playButton {
  position: absolute;
  left: 50%;
  margin-left: -1.75rem;
  top: calc(22.5vh + 10rem);
  border-left-color: rgba(255, 255, 255, 0.5);
}
.playButton div {
  position: absolute;
  width: 7rem;
  height: 7rem;
  top: -3.5rem;
  left: -5.25em;
  border: 0.4rem solid rgba(255, 255, 255, 0.5);
  background: transparent;
  border-radius: 50%;
}
.left:hover {
  border-right-color: rgb(255, 255, 255);
}
.right:hover {
  border-left-color: rgb(255, 255, 255);
}
.playButton:hover {
  border-left-color: rgba(255, 255, 255);
}
.playButton:hover > div {
  border: 0.4rem solid rgba(255, 255, 255);
}

/* Main boddy Stiling */
.content {
  width: 100%;
  padding: 1rem;
}
.flex_container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 1rem 0rem 1rem;
}
.box,
.boxText, .boxTextFooter {
  flex-basis: 30%;
  margin: 0.8rem;
  padding: 0.5rem;
}
.boxText, .boxTextFooter {
  box-shadow: 0rem 0.2rem 0.5rem rgb(70, 70, 70, 0.5);
}
.box_3 {
  flex: 3;
}
.image {
  width: 100%;
  height: 100%;
  padding: 0.2rem;
  object-fit: cover;
  box-shadow: 0rem 0.5rem 1rem rgb(70, 70, 70, 0.5);
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 1.5rem;
}
span.anchor {
  display: block;
  position: relative;
  top: calc(-10vh - 1rem);
  visibility: hidden;
}
.boxText:hover {
  transition: all 0.5s ease 0s;
  box-shadow: 0rem 0.5rem 1rem rgb(70, 70, 70, 0.5);
  transform:scale(1.005);
}

/* Footer Element Stiling  */
.footer {
  width: 100%;
  text-align: start;
  margin-bottom: 0rem;
  border-top: 0.05rem solid rgb(70, 70, 70);
  background-image: linear-gradient(rgb(255, 255, 255), rgb(224, 224, 224));
}
.footer a {
  color: rgb(255, 60, 0);
}
.button {
  position: relative;
  height: 3rem;
  background-image: linear-gradient(to right, rgb(255, 0, 0) , rgb(255, 230, 0));
  color: rgba(255, 255, 255);
  border: none; 
  border-radius: 10rem;
  cursor: pointer; 
  outline: none;
  margin: 2rem 0.8rem;
  padding: 1rem 2rem;
}
.contactMe {
  position: relative;
  top: 2rem;
}
.about {
  display: none;
  margin-top: -1.5rem;
  margin-bottom: 2rem;
}
.button:hover {
  transition: all 0.5s ease 0s;
  box-shadow: 0rem 0.5rem 1rem rgb(70, 70, 70, 0.5);
  transform:scale(1.005);
}

/* Media query Step */
@media all and (max-width: 700px) {
  .slider {
    display: none;
  }
  .content {
    margin-top: 10rem;
  }
  .flex_container {
    flex-direction: column;
  }
  .box {
    display: none;
  }
}

